*{
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;*/
    /*border:1px solid red;*/
    font-family: monospace;
    max-width: 100%;
    overflow-x: hidden;
}

/*.wrapper{
    width:1200px;
    margin: 0 auto;
} */
.clr{
    clear: both;
}

nav ul{
    list-style-type: none;
    float: right;
    margin-left: 30px;
}


.row a{
    color: black;
}
.row a:hover{
    color:black;
    list-style-type: none;
    text-decoration:none;
}

.hero h1{
    padding-top: 100px;
    font-size: 70px;
    text-align: center;
}
.hero p{
    font-size: 25px;
    text-align: center;
}
.hero{
    padding: 200px 0px 200px 0px;
    margin: 0 auto;
}






.hero a{
    color:black;
    font-size:12px;
    text-decoration:none;
    display: block;
    text-align: center;
    
}
.hero a:hover{
    color:black;
    font-size: 15px;
    text-decoration:none;
    opacity:0.4;
    display: block;
    padding-bottom: 15px;
}

i{
    color:white;
    background:black;
    padding:15px;
    border-radius:50%;
    font-size:25px;
  
}

.row{text-align:center;
padding:10px;}
/*
.sectionPr
vi{
    
    transition: all .5s ease-in-out;
    padding: 400px 0;
    background:lightgray;
}*/

.nulti {
    background: white;
    height: 1000px;
   
  }
.sectionPrvi {
    background: white;
    height: 900px;
    transition: all 1.3s ease-in-out;
  }
   
  .sectionPrvi:target {
    line-height: 3;
    padding-top: 5em;
    padding-bottom: 1em;
    height: 1000px;
    color: black;
  }
  .naslovDio{
      padding-top: 20px;
  }

 .slika{
     text-align:center;
 }
.slika img{
    width:40%;
    border-radius: 60%;
}

  .divJa{
      padding-top:none;
      text-align: center;
  }

  .sectionDrugi {
    background: rgb(233, 232, 232);
    height: 800px;
    transition: all 1.3s ease-in-out;
    margin: 0 auto;
  
  }
   
  .sectionDrugi:target {
    line-height: 3;
    padding-top: 10em;
    padding-bottom: 5em;
    height: 1000px;
    color: black;
    margin: 0 auto;
  }
 
  .ljudi h3{
      margin-top: 60px;
      text-align:center;
  }
  .karta{
      padding:30px  0px 30px 0px;
  }

  .sectionTreci {
    background: grey;
    height: 500px;
    transition: all 1.3s ease-in-out;
    
    
  }
   
  .sectionTreci:target {
    line-height: 3;
    padding-top: 10em;
    padding-bottom: 5em;
    height: 1000px;
    color: black;
  }
  .sectionCetvrti {
    background: white;
    height: 1000px;
    overflow-y: hidden;
   transition: all 1.3s ease-in-out;
  }

  
  .sectionCetvrti:target {
    line-height: 2;
    padding-top: 7em;
    padding-bottom: 5em;
    height: 1300px;
    color: black;
  }
  .experience {
    margin-top: 60px;
}
.experience p{
    font-size: 13px;
    text-align: center;
}
 .skills{
     text-align:center;
 }

  .sectionPeti {
    background: whitesmoke;
    height: 600px;
    transition: all 1.3s ease-in-out;
    
  }
  .volunteering{
      margin-top:60px;
  }
   
  .sectionPeti:target {
    line-height: 3;
    padding-top: 10em;
    padding-bottom: 5em;
    height: 1000px;
    color: black;
  }



.naslovDio{
    text-align: center;
}
.divJa img{
    
    width:80%;
    margin-bottom: 10px;
}
.divJa i{
    border-radius:50%;
    height:50px;
    margin-top:100px;
}
.divJa p{
    margin-top: 7px;
    font-size:17px;
 
}

#Pja{
    padding-top: 150px;
}
.ljudi img{
    height: 90px;
    width: 90px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.ljudi p{
    text-align: center;
}


/*
.sectionDrugi{
   padding: 400px 0;
    background-color: whitesmoke;
}
.sectionTreci{
    padding: 400px 0;
     background-color: grey;
     text-align: center;
}
 .sectionCetvrti{
    padding: 400px 0;
     background-color: white;
     text-align: center;
 }
 .sectionPeti{
    padding: 400px 0;
     background-color: grey;
     text-align: center;
 }
 */

/* Padajuci izbornik 
.padajuci{
    display: none;
}
.dropped:hover .padajuci{
    display:block;
}
.padajuci li{
    background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0ZZi4TdJkkcw7de8gkXkeLqRh-EtxllyQ9xilCBdxC6P3tzkc') no-repeat center center/cover;
}
.padajuci li:hover{
    background:green;
}
*/

.mapa iframe{
    height:300px;
    width:150px;
}

/*footer*/

.foot{
    padding: 40px 0;
    text-align: center;
    
    
}
.futer{
    background-color: rgb(148, 168, 148);
}
.zadnji p{
    text-align: center;
}